<header class="navbar col-11 m-auto pt-2 pb-2 mt-2 mb-2">
    <section class="navbar-section">
        <a href="#" class="navbar-brand mr-2">🌱</a>
        <a href="#" class="btn btn-link mr-2">Home</a>
        <a href="#products" class="btn btn-link mr-2">Products</a>
    </section>
    <section class="navbar-section">
        <button class="btn btn-action btn-link c-hand mr-2 badge" data-badge="0" data-modalTarget="cart" aria-label="Panier vide" id="buttonCart"><svg class="feather" data-modalTarget="cart"><use xlink:href="assets/images/feather-sprite.svg#shopping-cart"/></svg></button>
        <div class="modal top right" data-modal="cart" id="cartModal"><div class="modal-container"></div></div>
        <div class="popover popover-bottom">
            <button class="btn btn-action btn-link c-hand mr-2"
                    id="userBtnMenu">
                <svg class="feather" data-modalTarget="userMenu">
                    <use xlink:href="assets/images/feather-sprite.svg#user"/>
                </svg>
            </button>
            <div class="popover-container" data-modal="userMenu" id="loginRegister">
                <div class="card d-inline-block w-100"></div>
            </div>
        </div>
    </section>
</header>
