<div id="select">
    <div class="optGrp">
        <div class="title h4"></div>
        <select data-optProduct id="" class="doc selectGroup">
            <option data-name="" value="" data-optProduct>Selectionnez une option</option>
        </select>
    </div>
</div>

<div id="checkbox">
    <div class="optGrp">
        <div class="title h4"></div>
        <div class="checkboxGroup">
            <input type="checkbox" data-name="" autocomplete="off" class="doc" data-optProduct> <label class="doc"></label><br>
        </div>
    </div>
</div>

<div id="radio">
    <div class="optGrp">
        <label class="form-label title h4"></label>
        <div class="radioGroup form-group">
            <label class="form-radio">
                <input type="radio" data-name="" name="color" value="color-1" data-optProduct>
                <i class="form-icon"></i><span class="label-name"></span>
            </label>
        </div>
    </div>
</div>

