.important-field {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

[hidden] {
  display:none!important;
}

.input-sm[type="number"] {
  max-width:50px;
  text-align: center;
}

.input-25w[type="number"] {
  max-width:25%;
}

.input-50w[type="number"] {
  max-width:50%;
}
.input-75w[type="number"] {
  max-width:75%;
}
.input-100w[type="number"] {
  max-width:100%;
}